# Ignore node_modules in both frontend and Api
Apinode_modules
frontendnode_modules

# Logs
.log
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Dependency directories
node_modules
.pnp
.pnp.js

# Environment files
.env
.env..local

# Build outputs
dist
build
.cache
.next
out

# IDEeditor settings
.vscode
.idea
.swp
.swo

# OS files
.DS_Store
Thumbs.db
